body {
	border-top: 4px solid #7e5c88;
	margin-top: 0;
  width: 1333px;
  margin: auto;
}
.line--color {
	height: 3px;
  background: #7E5C88;
}
.nav {
	padding-top: 45px;
	display: flex;
		&--logo {
				margin-top: -31px;
				color: #979797;
			& h1 {
				margin-bottom: 10px;
				color: #96739f;
			}
		}
		&--list {
			padding-left: 80px;
		}
	ul {
		font-family: Georgia Regular;
		// display: flex;
		li {

			list-style-type: none;
			display: inline-block;
		}
		li a:hover {
			color: white;
			background: #7e5c88;
		}
		a {
			// width: 25%;
			padding: 62px 37px 28px;
			text-decoration: none;
			color: #979797;
		}
	}
}
.slider {
	position: relative;
	border-bottom: 1px solid #ddd;
	& img {
		width: 1333px;
		margin-top: 55px;
	}
}
.content {
	border-bottom: 1px solid #ddd;
	margin-top: 55px;
	padding-bottom: 50px;
	&--item {
		& .content--title {
			font-family: Georgia Regular;
			padding-bottom: 9px;
	    border-bottom: 1px solid #ddd;
	    margin-left: 50px;
  	}
	}
	&--item__product {
		display: flex;
	}
	&--item__productsize {
		padding: 15px 0 15px;
			& .text1 {
				padding-bottom: 8px;
    		font-weight: bold;
			}
			& .text2 {padding-top: 8px;}
	}
	&--item__productsize:hover {
		color: white;
		background-color: #7e5c88;
	}
	.title {
		margin-left: 50px;
		display: flex;
		&--from {
			flex-grow: 8;
			border-bottom: 1px solid #ddd;
		}
		&--about {
			flex-grow: 2;
			border-bottom: 1px solid #ddd;
		}
	}
	&--item2 {
		display: flex;
		border-bottom: 1px solid #ddd;
		position: relative;
		&__product {
			&_date {
				& .text {
					width: 225px;
					color: #8c8686;
					font-size: 14px;
					padding-top: 15px;
				& span {
					font-weight: bold;
					color: #7e5c88;
					}
				}
			}
			&_name {
				& .Name {
					display: flex;
					width: 225px;
					& img {
						border: 1px solid #ddd;
						padding: 4px;
					}
					&:not(:last-child) {
						padding-bottom: 15px;
						border-bottom: 1px solid #ddd;
					}
					&:not(:first-child) {
						padding-top: 15px;
					}
					& .text {
						font-size: 14px;
						padding-left: 3px;
						& span {
							font-weight: bold;
							color: #908792;
						}
						& p {
							color: #8c8686;
							margin: 0;
						}
						& a {
							text-decoration: none;
						}
						& i {
							color: #7e5c88;
						}
					}
				}
			}
			& .text {
				color: #a09a9a;
			}
		}
	}
}
.footer {
	color: #ddd;
	border-bottom: 1px solid #ddd;
	display: flex;
	font-size: 15px;
	position: relative;
	& .content__col {
		// padding: 0 50px 0;
		width: 225px;
		& span {
			font-weight: bold;
		}
		& .link_read {
			text-align: right;
		}
		& .link {
			padding-bottom: 10px;
			border-bottom: 1px solid #ddd;
			&:not(:first-child) {
				padding-top: 10px;
			}
		}
	}
	& a {text-decoration: none;}
	& .text_title {
		font-weight: bold;
		margin-bottom: 40px;
		color: #949191;
	}
	& .link--icon {
		padding-top: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid #ddd;
		& i {
			font-size: 40px;
			&:hover {
				color: #7e5c88;
			}
		}
		& a {
			margin: 10px;
			position: absolute;
			text-decoration: none;
		}
	}
	&:not(:first-child) {
		padding-top: 10px;
	}
	& p {
		color: #949191;
	}
}
.address {
	font-size: 14px;
	color: #949191;
	&_left {
		float: left;
	}
	&_right {
		float: right;
	}
}

.col-4 {
	width: 25%;
}

.d-flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.justify-content-center {
	justify-content: center;
}

.align-items-center {
	align-items: center;
}
.style-top {
	padding-top: 50px;
}
.style-bottom {
	padding-bottom: 50px;
}
.shadow::after {
		content: "";
    position: absolute;
    box-shadow: 0 10px 18px 0 #DDD;
    width: 50%;
    height: 14px;
    margin-left: 25%;
    bottom: 0;
}