main {
  margin-top: 15px; 
}
.nav {
  display: flex; 
}
.nav--list {
  padding-left: 10%; 
}
.nav img {
  margin-left: 15px; 
}
.nav ul {
  font-family: sans-serif;
  display: flex; 
}
.nav ul li {
  list-style-type: none;
  display: inline-block; 
}
.nav ul li a:hover {
  color: white;
  background: #7e5c88; 
}
.nav ul a {
  padding: 31px;
  text-decoration: none;
  color: #979797; 
}
.slider {
  position: relative;
  border-bottom: 1px solid #ddd; 
}
.slider::after {
  content: "";
  position: absolute;
  box-shadow: 0 12px 18px 0 #DDD;
  width: 50%;
  height: 14px;
  margin-left: 24%;
  margin-top: -13px; 
}
.slider img {
  width: 1333px;
  margin-top: 55px; 
}
.content {
  position: relative;
  border-bottom: 1px solid #ddd;
  margin-top: 35px;
  padding-bottom: 50px; 
}
.content::after {
  content: "";
  position: absolute;
  box-shadow: 0 12px 18px 0 #DDD;
  width: 50%;
  height: 14px;
  margin-left: 24%;
  margin-top: 36px; 
}
.content--item > p {
  margin-top: 50px;
  margin-left: 13px;
  font-size: 20px;
  height: 30px;
  border-bottom: 1px solid #ddd;
}
.content--item__product {
  margin-left: 15px;
  margin-top: 30px;
  text-align: center;
  columns: 4; 
}
.content--item__product img {
  width: 300px;
  height: 301px; 
}
.content--item__productsize {
  padding: 30px 0px 30px;
  width: 300px; 
}
.content--item__productsize p {
  padding: 25px 0 25px; 
}
.content--item__productsize p span {
  font-weight: bold; 
}
.content--item__productsize p:hover {
  color: white;
  background-color: #7e5c88; 
}
.content .title {
  margin-top: 50px;
  display: flex; 
}
.content .title--from {
  margin-left: 20px;
  flex-basis: 72%;
  border-bottom: 1px solid #ddd; 
}
.content .title--about {
  margin-left: 3%;
  flex-basis: 23%;
  border-bottom: 1px solid #ddd; 
}
.content .title h3 {
  font-weight: inherit; 
}
.content--item2 {
  columns: 4;
  display: flex;
  margin-top: 50px;
  padding-bottom: 5%;
  border-bottom: 1px solid #ddd;
  position: relative; 
}
.content--item2::after {
  content: "";
  position: absolute;
  box-shadow: 0 12px 18px 0 #DDD;
  width: 50%;
  height: 14px;
  margin-left: 24%;
  bottom: 0; 
}
.content--item2__product {
  margin-left: 15px;
  display: flex;
  flex-basis: 75%; 
}
.content--item2__product_date {
  width: 300px;
  padding-right: 33px;
}
.content--item2__product_date span {
  font-weight: bold;
  color: #7e5c88; 
}
.content--item2__product_name .Name {
  display: flex; 
}
.content--item2__product_name .Name:not(:last-child) {
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd; 
}
.content--item2__product_name .Name:not(:first-child) {
  padding-top: 20px; 
}
.content--item2__product_name .Name .text {
  font-size: 19px;
  padding-left: 10px; 
}
.content--item2__product_name .Name .text span {
  font-weight: bold;
  color: #908792; 
}
.content--item2__product_name .Name .text p {
  color: #949191;
  margin: 0; 
}
.content--item2__product_name .Name .text a {
  text-decoration: none; 
}
.content--item2__product_name .Name .text i {
  color: #7e5c88; 
}
.content--item2__product_name img {
  border: 1px solid #ddd;
  padding: 6px;
  height: 81px;
  width: 128px; 
}
.content--item2__product img {
  width: 300px;
  height: 170px; 
}
.content--item2__product .text {
  color: #a09a9a; 
}
.footer {
  color: #ddd;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-left: 15px;
  border-bottom: 1px solid #ddd;
  display: flex;
  width: 100%;
  position: relative; 
}
.footer::after {
  content: "";
  position: absolute;
  box-shadow: 0 12px 18px 0 #DDD;
  width: 50%;
  height: 14px;
  margin-left: 24%;
  bottom: 0; 
}
.footer span.Post {
  font-weight: bold;
  color: #776f79; 
}
.footer .Post_title .link_read {
  padding-right: 15px;
  padding-top: 15px;
  float: right; 
}
.footer .Post_title .link_read a {
  text-decoration: none; 
}
.footer .text_title {
  color: #776f79;
  padding-bottom: 25px; 
}
.footer .Post_title:not(:first-child) {
  flex-basis: 25%; 
}
.footer .Post_title:first-child {
  margin-right: 25px;
  flex-basis: 23%; 
}
.footer .link {
  width: 300px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}
.footer .link i {
  font-size: 40px; 
}
.footer .link i:hover {
  background: #7e5c88; 
}
.footer .link a {
  text-decoration: none;
}
.footer .link:not(:first-child) {
  padding-top: 15px; 
}
.footer p {
  color: #949191; 
}
.address {
  color: #949191; 
}
.address_left {
  float: left; 
}
.address_right {
  float: right; 
}

/*# sourceMappingURL=splendorous.css.map */
