body {
	border-top: 4px solid #7e5c88;
	margin-top: 0;
 //  width: 1333px;
 //  margin: auto;
	// font-family: Georgia;
}
.line--color {
	height: 3px;
  background: #7E5C88;
}
.nav {
	padding-top: 45px;
	display: flex;
		&--logo {
				margin-top: -31px;
				color: #979797;
			& h1 {
				margin-bottom: 10px;
				color: #96739f;
			}
			// & span {
			// 	color: #979797;
			// }
		}
		&--list {
			// padding-left: 10%;
		}
	// img {
	// 	margin-left: 15px;
	// 	}
	ul {
		font-family: Georgia Regular;
		display: flex;
		li {
			list-style-type: none;
			display: inline-block;
		}
		li a:hover {
			color: white;
			background: #7e5c88;
		}
		a {
			padding: 62px 20px 28px;
			text-decoration: none;
			color: #979797;
		}
	}
}
.slider {
	position: relative;
	border-bottom: 1px solid #ddd;
	&::after {
		content: "";
    position: absolute;
    box-shadow: 0 12px 18px 0 #DDD;
    width: 50%;
    height: 14px;
    margin-left: 24%;
    margin-top: -13px;
	}
	& img {
		width: 1333px;
		margin-top: 55px;
	}
}
.content {
	border-bottom: 1px solid #ddd;
	margin-top: 55px;
	padding-bottom: 50px;
	&--item {
		& .content--title {
			font-family: Georgia Regular;
			padding-bottom: 9px;
	    border-bottom: 1px solid #ddd;
	    margin-left: 50px;
  	}
		&_size {
			// padding: 0 50px 0;
			// display: flex;
	    // justify-content: center;
		}
	}
	&--item__product {
		// padding-top: 45px;
		display: flex;
	}
	&--item__productsize {
		padding: 15px 0 15px;
		// padding-right: 50px;
		// text-align: center;
		// padding: 18px 0 18px;
		// width: 225px;
		// display: flex;
    // flex-direction: column;
    // align-items: center;
			& .text1 {
    		font-weight: bold;
			}
	}
	&--item__productsize:hover {
		color: white;
		background-color: #7e5c88;
	}
	.title {
		margin-left: 50px;
		display: flex;
		// margin-top: 50px;
		&--from {
			flex-grow: 8;
			border-bottom: 1px solid #ddd;
			// margin-left: 50px;
	    // flex-basis: 66%;
	    // padding-bottom: 10px;
		}
		&--about {
			flex-grow: 2;
			// flex-basis: 17%;
			border-bottom: 1px solid #ddd;
			// margin-left: 100px;
			// padding-bottom: 10px;
		}
	}
	&--item2 {
		display: flex;
		//padding: 50px 0 50px;
		border-bottom: 1px solid #ddd;
		position: relative;
		&::after {
			content: "";
	    position: absolute;
	    box-shadow: 0 10px 18px 0 #DDD;
	    width: 50%;
	    height: 14px;
	    left: 28%;
	    bottom: 0;
		}
		&__product {
			&_date {
				// padding: 0 50px 0;
				// width: 225px;
				& .text {
					width: 225px;
					color: #8c8686;
					font-size: 14px;
					padding-top: 15px;
				& span {
					font-weight: bold;
					color: #7e5c88;
					}
				}
			}
			&_name {
				// padding: 0 50px 0;
				& .Name {
					display: flex;
					width: 225px;
					& img {
						border: 1px solid #ddd;
						padding: 4px;
					}
					&:not(:last-child) {
						padding-bottom: 15px;
						border-bottom: 1px solid #ddd;
					}
					&:not(:first-child) {
						padding-top: 15px;
					}
					& .text {
						font-size: 14px;
						padding-left: 3px;
						& span {
							font-weight: bold;
							color: #908792;
						}
						& p {
							color: #8c8686;
							margin: 0;
						}
						& a {
							text-decoration: none;
						}
						& i {
							color: #7e5c88;
						}
					}
				}
			}
			& .text {
				color: #a09a9a;
			}
		}
	}
}
.footer {
	color: #ddd;
	// padding-bottom: 50px;
	// padding-top: 50px;
	border-bottom: 1px solid #ddd;
	display: flex;
	font-size: 15px;
	position: relative;
	&::after {
		content: "";
    position: absolute;
    box-shadow: 0 10px 18px 0 #DDD;
    width: 50%;
    height: 14px;
    margin-left: 24%;
    bottom: 0;
	}
	& .content__col {
		// padding: 0 50px 0;
		width: 225px;
		& span {
			font-weight: bold;
		}
		& .link_read a {
			// margin-left:132px;
		}
		& .link {
			padding-bottom: 10px;
			border-bottom: 1px solid #ddd;
			&:not(:first-child) {
				padding-top: 10px;
			}
		}
	}
	& a {text-decoration: none;}
	& .text_title {
		font-weight: bold;
		margin-bottom: 40px;
		color: #949191;
	}
	& .link--icon {
		padding-top: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid #ddd;
		& i {
			font-size: 40px;
			&:hover {
				color: #7e5c88;
			}
		}
		& a {
			margin: 10px;
			position: absolute;
			text-decoration: none;
		}
	}
	&:not(:first-child) {
		padding-top: 10px;
	}
	& p {
		color: #949191;
	}
}
.address {
	font-size: 14px;
	color: #949191;
	&_left {
		float: left;
	}
	&_right {
		float: right;
	}
}

.col-4 {
	width: 25%;
}

.d-flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.justify-content-center {
	justify-content: center;
}

.align-items-center {
	align-items: center;
}
.style-top {
	padding-top: 50px;
}
.style-bottom {
	padding-bottom: 50px;
}