body {
  border-top: 4px solid #7e5c88;
  margin-top: 0; }

.line--color {
  height: 3px;
  background: #7E5C88; }

.nav {
  padding-top: 45px;
  display: flex; }
  .nav--logo {
    margin-top: -31px;
    color: #979797; }
    .nav--logo h1 {
      margin-bottom: 10px;
      color: #96739f; }
  .nav ul {
    font-family: Georgia Regular;
    display: flex; }
    .nav ul li {
      list-style-type: none;
      display: inline-block; }
    .nav ul li a:hover {
      color: white;
      background: #7e5c88; }
    .nav ul a {
      padding: 62px 20px 28px;
      text-decoration: none;
      color: #979797; }

.slider {
  position: relative;
  border-bottom: 1px solid #ddd; }
  .slider::after {
    content: "";
    position: absolute;
    box-shadow: 0 12px 18px 0 #DDD;
    width: 50%;
    height: 14px;
    margin-left: 24%;
    margin-top: -13px; }
  .slider img {
    width: 1333px;
    margin-top: 55px; }

.content {
  border-bottom: 1px solid #ddd;
  margin-top: 55px;
  padding-bottom: 50px; }
  .content--item .content--title {
    font-family: Georgia Regular;
    padding-bottom: 9px;
    border-bottom: 1px solid #ddd;
    margin-left: 50px; }
  .content--item__product {
    display: flex; }
  .content--item__productsize {
    padding: 15px 0 15px; }
    .content--item__productsize .text1 {
      font-weight: bold; }
  .content--item__productsize:hover {
    color: white;
    background-color: #7e5c88; }
  .content .title {
    margin-left: 50px;
    display: flex; }
    .content .title--from {
      flex-grow: 8;
      border-bottom: 1px solid #ddd; }
    .content .title--about {
      flex-grow: 2;
      border-bottom: 1px solid #ddd; }
  .content--item2 {
    display: flex;
    border-bottom: 1px solid #ddd;
    position: relative; }
    .content--item2::after {
      content: "";
      position: absolute;
      box-shadow: 0 10px 18px 0 #DDD;
      width: 50%;
      height: 14px;
      left: 28%;
      bottom: 0; }
    .content--item2__product_date .text {
      width: 225px;
      color: #8c8686;
      font-size: 14px;
      padding-top: 15px; }
      .content--item2__product_date .text span {
        font-weight: bold;
        color: #7e5c88; }
    .content--item2__product_name .Name {
      display: flex;
      width: 225px; }
      .content--item2__product_name .Name img {
        border: 1px solid #ddd;
        padding: 4px; }
      .content--item2__product_name .Name:not(:last-child) {
        padding-bottom: 15px;
        border-bottom: 1px solid #ddd; }
      .content--item2__product_name .Name:not(:first-child) {
        padding-top: 15px; }
      .content--item2__product_name .Name .text {
        font-size: 14px;
        padding-left: 3px; }
        .content--item2__product_name .Name .text span {
          font-weight: bold;
          color: #908792; }
        .content--item2__product_name .Name .text p {
          color: #8c8686;
          margin: 0; }
        .content--item2__product_name .Name .text a {
          text-decoration: none; }
        .content--item2__product_name .Name .text i {
          color: #7e5c88; }
    .content--item2__product .text {
      color: #a09a9a; }

.footer {
  color: #ddd;
  border-bottom: 1px solid #ddd;
  display: flex;
  font-size: 15px;
  position: relative; }
  .footer::after {
    content: "";
    position: absolute;
    box-shadow: 0 10px 18px 0 #DDD;
    width: 50%;
    height: 14px;
    margin-left: 24%;
    bottom: 0; }
  .footer .content__col {
    width: 225px; }
    .footer .content__col span {
      font-weight: bold; }
    .footer .content__col .link {
      padding-bottom: 10px;
      border-bottom: 1px solid #ddd; }
      .footer .content__col .link:not(:first-child) {
        padding-top: 10px; }
  .footer a {
    text-decoration: none; }
  .footer .text_title {
    font-weight: bold;
    margin-bottom: 40px;
    color: #949191; }
  .footer .link--icon {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd; }
    .footer .link--icon i {
      font-size: 40px; }
      .footer .link--icon i:hover {
        color: #7e5c88; }
    .footer .link--icon a {
      margin: 10px;
      position: absolute;
      text-decoration: none; }
  .footer:not(:first-child) {
    padding-top: 10px; }
  .footer p {
    color: #949191; }

.address {
  font-size: 14px;
  color: #949191; }
  .address_left {
    float: left; }
  .address_right {
    float: right; }

.col-4 {
  width: 25%; }

.d-flex {
  display: flex; }

.flex-column {
  flex-direction: column; }

.justify-content-center {
  justify-content: center; }

.align-items-center {
  align-items: center; }

.style-top {
  padding-top: 50px; }

.style-bottom {
  padding-bottom: 50px; }

/*# sourceMappingURL=splendorous.css.map */
